@charset "UTF-8";

/*estilos para retrato*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(../imagens/cev-portrait.jpg);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}